<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwCKaxNr9gJ1ix1ubn_eftbyycVua9ahs</string>
	<key>GCM_SENDER_ID</key>
	<string>1095410896361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloodapp</string>
	<key>PROJECT_ID</key>
	<string>bloodapp-2dc64</string>
	<key>STORAGE_BUCKET</key>
	<string>bloodapp-2dc64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095410896361:ios:4622e23f4ba3b343c90f78</string>
</dict>
</plist>